# =========================
# Build files
# =========================
target/
build/

# =========================
# Maven
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# Mac
# =========================
*.swp

# =========================
# H2 database files
# =========================
*.mv.db
*.trace.db

# =========================
# Spring Boot devtools
# =========================
.springBootDevtools.properties

# =========================
# Node (for Angular frontend)
# =========================
node_modules/
dist/
coverage/